@import url('https://fonts.googleapis.com/css2?family=Allura&family=Arvo:ital,wght@1,400;1,700&family=Comfortaa&family=DynaPuff&family=Inconsolata&family=Merriweather:wght@400;700&family=Montserrat&family=Mukta&family=Noto+Sans+JP:wght@400;500&family=Noto+Sans+NKo&family=Oswald&family=Poppins:wght@400;500&family=Righteous&family=Roboto+Mono:wght@100;500&family=Roboto:wght@100&family=Satisfy&family=Signika+Negative:wght@300;400&family=Ubuntu&display=swap');

.font-judul {
    font-family: 'Satisfy', cursive;
}

.font-title {
    font-family: 'Signika Negative', sans-serif;
    /* font-family: 'Righteous', cursive; */

}

.font-button {
    font-family: 'Mukta', sans-serif;
} 


.bg-detail {
    background-color: rgba(0, 0, 0, 0.6);
}

.bg-linear {
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(4px);
}

.bg-linear2 {
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.131));
}